# Copia este archivo a .env
OPENAI_API_KEY=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
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=tu_google_client_secret
SESSION_SECRET=cambiame_este_valor
